/*中间部分*/

.main {
	width: 1220px;
	margin: 0 auto;
}


/*合作伙伴*/

.cooperative-partner {
	margin-bottom: 40px;
}

 h2 {
	color: #333;
	font-size: 22px;
	margin-bottom: 20px;
}

.partner-firm {
	height: 130px;
	padding: 50px 30px;
	background-color: #fff;
}

.partner-firm ul{
	margin-bottom: 30px;
}

.partner-firm ul:last-child {
	margin-bottom: 0;
}

.partner-firm li {
	float: left;
	margin-right: 15px;
}

.partner-firm li:last-child {
	margin-right: 0;
}

/*友情衔接*/
.friendship-link {
	margin-bottom: 50px;
}

.link-url {
	height: 175px;
	padding: 50px 32px;
	background-color: #fff;
}

.link-url ul {
	margin-bottom: 20px;
}

.link-url ul:last-child {
	margin-bottom: 0;
}

.link-url li {
	float: left;
	margin-right: 28px;
	font-size: 14px;
	color: #333;
}

.link-url li:last-child {
	margin-right: 0;
}

.link-url li a {
	text-decoration: none;
	color: #333;
}














