
/*课程详情  页 */

/*————————上部 购买  介绍   开始    ————————*/


/*上左，图片框*/
.section-bg{
	width: 1220px;
	margin: 0 auto 30px;
}
.section-bg>.buy-box{
	box-sizing: border-box;	
	padding: 30px;
	width: 100%;
	height: 370px;	
	background-color: #fff;
	margin-bottom: 30px;
}
.buy-box>.img-box{
	position: relative;
	float: left;
	width: 470px;
	height: 100%;

}
.img-box>.big-img-contain{	
	height: 250px;
}

.img-box>.big-img-contain>img{
	display: none;
}
.img-box>.big-img-contain>img.active{
	display: block;
}
.img-box>.img-list{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 60px;
	width: 100%;	
}
.img-box>.img-list>a{
	display: block;
	width: 110px;
	margin-right: 10px;	
	float: left;
}
.img-box>.img-list>a:nth-last-of-type(1){
	margin-right: 0;
}
.img-box a>img{
	width: 100%;
}



/*上右 文字简介*/
.buy-box>.intro-box{
	float: left;
	margin-left: 30px;
}
.buy-box>.intro-box>.title{
	color: #333;
	font-size: 2.4rem;
	line-height: 5.5rem;
	font-weight: normal;
}
.intro-box>.company{
	height: 24px;
}
.intro-box>.company>.icon{
	display: inline-block;
	background-size: 100%;
}
.intro-box>.company>.home{
	margin-top: 1px;
	width: 12px;
	height: 11px;
	background: url('../img/c-course3.png') no-repeat center;	
}
.intro-box>.company>.location{
	margin-top: 1px;
	width: 11px;
	height: 13px;
	background: url('../img/c-course4.png') no-repeat center;	
}

.intro-box>.company>span{
	font-size: 1.4rem;
	color: #666;
	line-height: 24px;	
}
.intro-box>.company>a{
	font-size: 1.2rem;
	line-height: 28px;
	color: #046ecf;
}
.intro-box>.price-box{
	margin-top: 20px;
	height: 55px;
	background-color: #29b572;
	width: 410px;
	color: #fff;
}
.intro-box>.price-box>.now-price{
	margin-left: 19px;
	font-size: 2.8rem;
	line-height: 55px;
	font-weight: bold;
}
.intro-box>.price-box>.old-price{
	font-size: 1.4rem;
	line-height: 65px;
	margin-left: 10px;	
}
.price-box>p{
	float: right;
	height: 100%;
}
.price-box>p>span{
	font-size: 1.4rem;
	line-height: 55px;
	margin-right: 10px;
}
.price-box>p>.white{
	margin-top: 5px;
	padding: 5px;
	border-radius: 2px;
	background-color: #fff;
	color: #29b572;
	font-size: 1.4rem;
	line-height: 1.4rem;
	font-weight: bold;
}
.intro-box>.sell-box{
	width: 410px;
	box-sizing: border-box;	
	border:1px solid #e8e8e8;
	border-top: 0;
	height: 48px;
	margin-bottom: 30px;
}
.intro-box>.sell-box>a{
	float: left;
	display: block;
	box-sizing: border-box;
	width: 33.33%;
	border-right: 1px solid #e8e8e8;
	height: 100%;
	text-align: center;

}
.intro-box>.sell-box>a:nth-last-of-type(1){
	border-right:0;
}
.intro-box>.sell-box span{
	color: #999;
	font-size: 1.4rem;
	line-height: 46px;
}
.intro-box>.sell-box .green{
	color: #3faf7a;
}
.intro-box>.purchas-box{
	height: 42px;
	font-size: 1.8rem;
	line-height: 42px;
}
.intro-box>.purchas-box>.buy-now{
	float: left;
	width: 140px;
	height: 100%;
	font-weight: bold;
	color: #fff;
	text-align: center;
	background-color: #ea9b65;
}
.intro-box>.purchas-box>.ask{
	float: left;
	margin-left: 12px;
	width: 140px;
	height: 100%;
	box-sizing: border-box;
	border: 1px solid #e0884c;
	color: #ea9b65;
	text-align: center;
}
/*————————上部 购买  介绍   结束    ————————*/




/*——————————下左部 Tab切换   大内容   开始——————*/

.section-bg>.para-box{
	float: left;
	width: 915px;
	background-color: #fff;
}
.section-bg>.para-box>.tab-list{
	position: relative;
	height: 66px;	
}
.para-box>.tab-list>li{
	float: left;
	width: 145px;
	height: 100%;
	font-size: 1.6rem;
	color: #333;
	text-align: center;
	line-height: 66px;
}
.para-box>.tab-list>li:hover{
	cursor: pointer;
}
.para-box>.tab-list>.green-bar{
	position: absolute;
	top: 0;
	left: 0;
	width: 145px;
	height: 4px;
	background-color: #29b572;
	transition: transform 0.5s;/*用css3动画效果*/
}




/*1，课程详情 页*/
.para-box>.detail-box{
	box-sizing: border-box;
	padding-top: 15px;
	padding-right: 50px;
	padding-bottom: 55px;
	padding-left: 28px;
}

.detail-box>.school-detail{
	margin-bottom: 20px;
}
.detail-box .content{
	box-sizing: border-box;
	padding-left: 95px;
	width: 100%;
}

.detail-box .content>.title{
	float: left;
	margin-left: -95px;
	line-height: 30px;
	font-size: 1.4rem;
	color: #999;
}
.detail-box .content>.para{
	float: left;
	font-size: 1.4rem;
	color: #333;
	line-height: 30px;
}
/*2，其他课程 页*/




/*3，用户评价 页*/





/*————————————   下右侧边栏  开始  ————————————————*/
.section-bg>.side-box{
	float: right;	
	width: 295px;
}
.side-box>.hot-sell-box{
	box-sizing: border-box;
	padding: 26px 12px 40px 15px;
	background-color: #fff;
}
.hot-sell-box>.hot-sell{
	height: 20px;
}
.hot-sell-box>.hot-sell>.hot-icon{
	display: inline-block;
	width: 14px;
	height: 20px;
	background: url("../img/c-course5.png") no-repeat center;
	background-size: 100%;
	text-indent: 0;
}
.hot-sell-box>.hot-sell>span{
	display: inline-block;
	line-height: 20px;
	font-size: 1.6rem;
	color: #333;
	text-indent: 0.5rem;
}
.hot-sell-box>.hot-sell>a{
	float: right;
	font-size: 1.2rem;
	color: #666;
	line-height: 23px;
}





/*————————————   下右侧边栏  结束 ————————————————*/






/*——————————下左部 Tab切换   大内容   结束——————*/







