/**********中间主体   开始 *************/


.main {
	width: 100%;
	background-color: #f5f5f5;
}

.minWidth {
	width: 1220px;
	margin: 0 auto;
	overflow: hidden;
}

/*轮播和登录*/
.block-login {
	margin-bottom: 20px;
	overflow: hidden;
}

/*左边*/
.block-left {
	width: 977px;
	height: 346px;
	float: left;
	position: relative;
}

/*左边的轮播图*/
.block-left ul {
	display: block;
	position: relative;
}

.block-left li {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	opacity: 0.5;
}

.block-left li.icon {
	opacity: 1;
	transition: opacity 2s;
}

.block-left a {
	text-decoration: none;
	width: 997px;
	height: 346px;
	display: block;
}

.block-left li:nth-of-type(1) {
	display: block;
}

/*轮播图小圆点*/
.paganation {
	position: absolute;
	bottom:17px;
	right:30px;
	width:100%;
	text-align: right;
	-webkit-user-select:none;
}
.paganation span {
	display: inline-block;
	width:15px;
	height: 15px;
	text-align: center;
	line-height: 15px;
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer;
	margin-left: 14px;
}
.paganation span.active {
	background-color: #33B574;
}


/*右边*/
.block-right {
	width: 243px;
	height: 346px;
	float: right;
	background-color: #fff;
}

/*顶部*/
.user-top {
	overflow: hidden;
	width: 203px;
	margin: 23px auto 0;
}
.user-top img {
	float: left;
}

.user-top span {
	display: block;
}

.user-top p {
	float: left;
	display: inline-block;
	margin-left: 13px;
	font-size: 14px;
	line-height: 20px;
}

.login-button {
	margin: -8px 20px 0px;
	border-bottom: 1px solid #e8e8e8;
	padding-left: 76px;
	padding-bottom: 15px;

}

.login-button a {
	text-decoration: none;
	font-size: 14px;
	padding: 1px 14px 3px 14px;
	border-radius: 2px;
	margin-right: 5px;
}

.a-login {
	color: white;
	background-color: #29b572;
}

.a-register {
	color: #29b572;
}

.a-register:hover {
	background-color: #29b572;
	color: #fff;

}

/*中部*/
.user-middle {
	margin:10px 20px;
}

.user-middle-title {
	margin-bottom: 22px;
	overflow: hidden;
}

.user-middle-title p {
	float: left;
	font-size: 14px;
	color: #333333;
}

.user-middle-title a {
	float: right;
	font-size: 12px;
	color: #666666;
	text-decoration: none;
}

.user-middle-content {
	border-bottom: 1px solid #e8e8e8;
	overflow: hidden;
}

.user-middle-content div {
	float: left;
	width: 50%;
	text-align: center;
}

.user-middle-content div a {
	display: block;
	margin-bottom: 17px;
	text-decoration: none;
}

.user-middle-content div a strong {
	width: 100%;
	height: 29px;
	display: block;
	margin-bottom: 8px;
	background: url(../img/h-sprite1.png) no-repeat ;
}

.user-middle-content div a span {
	font-size: 12px;
	color: #808080;
}

.user-middle-content div a span:hover {
	color: #29b572;
}

.user-middle-content div a .strong-one {
	background-position: 23px -16px;
}

.user-middle-content div a .strong-two {
	background-position: 23px -100px;
}

.user-middle-content div a .strong-three {
	background-position: 23px -184px;
}

.user-middle-content div a .strong-four {
	background-position: 23px -262px;
}

/*奖金*/
.scholarship {
	width: 203px;
	margin: 0 auto;
}

.scholarship a {
	width: 32%;
	color: #666666;
	display: inline-block;
	text-decoration:underline;
	font-size: 14px;
	text-align: center;
}

.scholarship a:hover {
	color: #29b572;
}
/*五个答疑*/
.answer-box {
	height: 80px;
	background-color: #fff;
	padding:30px 20px;
	margin-bottom: 40px;
}

.answer-box li {
	float: left;
	width: 235px;
	border-right: 1px solid #e8e8e8;
}

.answer-box li:last-child {
	border-right: none;
}

.answer-box li .block-img {
	width: 60px;
	height: 60px;
	background: url(../img/h-sprite2.png) no-repeat;
	display: inline-block;
	float: left;
	margin:10px 15px 0 20px;
}

.answer-box li .block-word{
	float:left;
	display: inline-block;
	width: 120px;
	margin-right: 20px;
}

.answer-box li .img-one {
	background-position: -10px -16px;
}
.answer-box li .img-two {
	background-position: -10px -147px;
}
.answer-box li .img-three {
	background-position: -10px -300px;
}
.answer-box li .img-four {
	background-position: -10px -460px;
}
.answer-box li .img-five {
	background-position: -10px -623px;
}

.answer-box span {
	font-size: 14px;

}
.answer-box p {
	font-size: 12px;
	color: #666666;
	margin-top: 5px;
	line-height: 18px;
}


/*线上课程*/
.online-lesson {
	margin-bottom: 40px;
}

 h2 {
	font-size: 24px;
	margin-bottom: 16px;
	color: #333;
}

.online-lesson ul {
	padding: 20px;
	background-color: #fff;
}

.online-lesson li {
	float: left;
	width: 225px;
	margin-right: 14px;
	text-align: center;
	position: relative;
	background-color: black;
}

.online-lesson li:nth-of-type(4) {
	margin-right: 13px;
}

.online-lesson li:nth-of-type(5) {
	margin-right: 0;
}

.online-lesson li p {
	font-size: 14px;
	position: absolute;
	text-align: center;
	top: 64px;
	left: 48px;
	color:#fff;
	opacity: 0;
}

.online-lesson li:hover p {
	opacity: 1;
	transition: 0.8s;
}

.online-lesson li:hover img {
	opacity: 0.5;

}

/*线下课程*/
.offline-lesson {
	margin-bottom: 40px;
}

.offline-lesson-cont {
	height: 184px;
	background: url(../img/h-offline.png) no-repeat;
}

.offline-lesson-cont a{
	height: 122px;
	width: 1220px;
	display: block;
	padding-top: 62px;
	text-decoration: none;	
}

.offline-lesson-cont span{
	width: 182px;
	height: 60px;
	display: block;
	color: #f5f5f5;
	cursor: pointer;
	font-size: 18px;
	line-height: 60px;
	margin: 0 auto;
	text-align: center;
	background: url(../img/h-offline-box.png) no-repeat;
}


/*入驻学校*/

.settled-school {
	margin-bottom: 40px;
}

.settled-school-cont {
	height: 184px;
	background: url(../img/h-school.png) no-repeat;
}

.settled-school-cont a{
	height: 122px;
	width: 1220px;
	display: block;
	padding-top: 62px;
	text-decoration: none;	
}

.settled-school-cont span{
	width: 182px;
	height: 60px;
	display: block;
	color: #f5f5f5;
	cursor: pointer;
	font-size: 18px;
	line-height: 60px;
	margin: 0 auto;
	text-align: center;
	background: url(../img/h-school-box.png) no-repeat;
}


/*学习方式*/
.learnStyle {
	margin-bottom: 40px;
}

.learnStyle ul {
	height: 275px;
	padding: 40px 36px;
	background-color: #fff;
}

.learnStyle li {
	float: left;
	width: 242px;
	text-align: center;
	margin-right: 60px;
}

.learnStyle li:last-child {
	margin-right: 0;
}

.learnStyle li img {
	margin-bottom: 25px;
}

.learnStyle li span {
	display: block;
	color: #4c4c4c;
	font-size: 16px;
	margin-bottom: 10px;
}

.learnStyle li p {
	font-size: 13px;
	text-align: left;
	line-height: 20px;
	color: #999999;
}

/*学生用户*/
.user-student {
	margin-bottom: 40px;
}

.user-student h2{
	margin-bottom: 40px;
	font-size: 24px;
	margin-bottom: 16px;
	color: #333;
	display: inline-block;
	margin-right: 10px;
}

.user-student h2 span {
	color: #ea9b65;
	font-weight: bold;
}

.get-job {
	font-size: 22px;
	color: #666666;
}

.user-student ul {
	background-color: #fff;
	height: 330px;
	padding: 40px 17px;
}

.user-student li {
	float: left;
	width: 200px;
	height: 326px;
	background: url(../img/h-student-bg.png);
	margin-right: 46.5px;
	border-bottom: 2px solid #8dd3b2;
	text-align: center;
}

.user-student li:last-child{
	margin-right: 0;
}

.user-student li img {
	margin-bottom: 30px;
}

.user-student li span {
	display: block;
	font-size: 14px;
	color: #333333;
	line-height: 24px;
}

.user-student li p {
	margin-top: 35px;
	margin-bottom: 8px;
	font-size: 14px;
	color: #333333;
}

.user-student li h3 {
	font-size: 20px;
}

/*图片切换*/
.cooperation {
	margin-bottom: 50px;
	overflow: hidden;
}

.cooperation-container {
	height: 50px;
	background-color: #fff;
	padding: 50px 28px;
	position: relative;
	overflow: hidden;
}

.cooperation-firm  {
	height: 50px;
	overflow: hidden;
	width: 9999px;
	position: relative;
	left:0;
	top:0;
	overflow: hidden;
}

.firm {
	float: left;
	width: 152px;
	height: 50px;
	margin: 0 7px 0 7px;
}

.left-arrow {
	position: absolute;
	font-family: "宋体";
	left:-6px;
	top:50px;
	width:35px;
	color:#676767;
	text-align: center;
	font-size: 20px;
	line-height: 50px;
	-webkit-user-select:none;
	background-color: #fff;
}
.right-arrow {
	position: absolute;
	font-family: "宋体";
	right:-3px;
	top:50px;
	width:35px;
	color:#676767;
	text-align: center;
	font-size: 20px;
	line-height: 50px;
	-webkit-user-select:none;
	background-color: #fff;
}





