.class-list{
	width: 1040px;
	background-color: white;
}
.class-list>p{
	width: 980px;
	height: 44px;
	margin-left: 30px;
	font-size: 14px;
	color: #999999;
	line-height: 60px;
	border-bottom: 1px solid #ededed;
}
.class-list>li{
	width: 980px;
	height: 38px;
	margin-left: 30px;
}
.class-list>li:nth-of-type(1){
	margin-top: 20px;
}
.class-list>li P{
	display: inline-block;
	height: 38px;
	font-size: 14px;
	color: #333;
	line-height: 38px;
}
.class-name{
	margin-left: 14px;
	width: 750px;
}
.class-like{
	float: right;
	width: 70px;
}
.middle3-lesson{
	width: 1040px;
	height: 54px;
	background-color: #FAFAFA;
	border-bottom: 1px solid #E8E8E8;
}
.middle3-lesson>li{
	display: inline-block;
	float:left;
	width: 145px;
	height: 55px;
	font-size: 16px;
	color: #333;
	text-align: center;
	line-height: 55px;
}
.middle3-lesson>li:nth-child(1){
	border-right: 1px solid #E8E8E8;
}
.onclick-middle3-lesson-li{
	background-color: white;
	border-right: 1px solid #E8E8E8;
}
.lesson-list>li{
	display: none;
}
